.contents
  .sidebar
    .sidebarHeader
      .sidebarHeader__userName 名前
      .sidebarHeader__editButton
        = link_to '#' do
          .fa.fa-edit.fa-white
        = link_to '#' do
          .fa.fa-cog.fa-white
    .sidebarBody
      = render "sidebar-name"
  .main
    .mainHeader
      .mainHeader-groupBox
        .mainHeader-groupBox__name sampleグループ
        .mainHeader-groupBox__members グループ参加メンバー名
      .mainHeader__editButton Edit
    .mainBoddy
      .mainBoddy-chatBox
        = render "chat-box"
    .mainFooter
      .mainFooter-box
        .mainFooter-box-frame
          .mainFooter-box-frame__message メッセージをここにタイプします
          .mainFooter-box-frame__buttons
            .buttons-frame
              .buttons-frame__imgBtn
                .fa.fa-image.fa-lg
              .buttons-frame__sendBtn Send
