.contents
  .left-content
    .header
      .user_name 名前
      .icon
        %i.fa.fa-edit
        %i.fa.fa-cog
    .body
      .text-box
        .group-name チャットグループリスト
        .chat-member チャットメンバー名
  .right-content
    .title
      %p.group sampleグループ
      %h4 グループ参加メンバー名
    .chat-list
      %h4 メッセージ内容
      %h4 メッセージがここに表示されます
    .type-box
      %h4 メッセージをここにタイプします


