.contents
  .sidebar
    .sidebar_header
      .user_name 名前
    .sidebar_body
      %h3 チャットグループリスト
      %h4 チャットメンバー名
  .main
    .main_title
      %p.group sampleグループ
      %h4 グループ参加メンバー名
    .main_chat
      %h4 メッセージ内容
      %h4 メッセージがここに表示されます
    .main_typebox
      %h4 メッセージをここにタイプします


