.contents
  .sidebar
    .sidebar-header
      .user_name 名前
      .icon
        .left-icon
          %a.iro(href= "#")
            .fa.fa-edit
        .right-icon
          %a.iro(href= "#")
            .fa.fa-cog
    .sidebar-body
      .text-box
        .group-name チャットグループリスト
        .chat-member チャットメンバー名
  .main-content
    .main-upper
      .group-box
        .group-name sampleグループ
        .group-members グループ参加メンバー名
      .edit-button Edit
    .main-middle
      .chat-box
        .chat-list
          %ul.message-column
            %li.chat-name 名前
            %li.chat-date 2018/06/16
          .message-box メッセージが表示されます
    .main-bottom
      .bottom-box
        .bottom-message-box
          .left-box メッセージをここにタイプします
          /   = form_for @user do |f|
          /     = f.text_area :text
          /     = f.submit "Send"
          .right-box
            %ul.button-box
              %li.img-button
                .fa.fa-image.fa-lg
              %li.send-button Send
