.body__chat_box__list
  %ul.box_list__message_column
    %li.message_column__name
      = @message.user.name
    %li.message_column__date
      = message.created_at
  .box_list__message_box
    - if message.body.present?
      %p.lower-message__body
        = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
