$white-screen: #fff;
$chat-screen: #FAFAFA;
$button-color: #38AEF0;
$chat-frame: #DDDDDD;
$message-screen: #999999;
$id-screen: #253141;
$chat-list-screen: #2f3e51;
$group-name-color: #333333;
$message-text: #434A54;
