.contents {
// 左側コンテンツ部分
  .side_bar {
    height: 100vh;
    width: 300px;
    color: $white-screen;
    float: left;
    &__header {
      height: 120px;
      background: $id-screen;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__user_name {
        font-size: 16px;
        font-weight: bold;
        width: 220px;
        float: left;
      }
      &__edit_button {
        width: 40px;
        color: white;
          .fa-white { color: white; }
      }
    }
    &__body {
      height: calc( 100vh - 120px );
      background: $chat-list-screen;
      padding: 0 20px;
      &__textbox {
        padding: 40px 0 20px;
        &__group_name {
          font-size: 15px;
        }
        &__chat_member {
          font-size: 11px;
          padding-top: 5px;
        }
      }
    }
  }
// 右側コンテンツ部分
  .main {
    height: 100vh;
    width: calc( 100vw - 300px );
    float: right;
      // 右コンテンツ上部の描画
    .header {
      height: 120px;
      background: white;
      border-bottom-color: red;
      padding: 0 40px;
      &__group_box {
        float: left;
        &__name {
          color: $group-name-color;
          font-size: 20px;
          padding-top: 35px;
        }
        &__members {
          color: $message-screen;
          font-size: 12px;
          padding-top: 15px;
        }
      }
      &__edit_button {
        font-size: 15px;
        color:$button-color;
        border: 1px solid $button-color;
        line-height: 40px;
        width: 50px;
        padding: 0 20px;
        margin: 28px auto 0px;
        text-align: center;
        float: right;
      }
    }
    // 右コンテンツ中央（メッセージ部）の描画
    .body {
      height: calc( 100vh - 120px - 90px );
      &__chat_box {
        padding: 46px 20px 0;
        background: $chat-screen;
        &__list {
          padding-bottom: 40px;
          color: $message-text;
          .box_list__message_column {
            display: flex;
            padding-bottom: 10px;
            .message_column__name {
              font-size: 16px;
              font-weight: bold;
            }
            .message_column__date {
              font-size: 12px;
              color: $message-screen;
              padding-left: 10px;
            }
          }
          .box_list__message_box {
            font-size: 14px;
          }
        }
      }
    }
        // 右コンテンツ下部の描画
    .form {
      height: 90px;
      &_box {
        background-color: $chat-frame;
        padding: 20px 40px;
        &_frame {
          height: 50px;
          background-color: white;
          line-height: 50px;
          font-size: 16px;
          &__message {
            width: calc(100vw - 300px - 265px);
            color: $message-text;
            float: left;
            padding-left: 10px;
          }
          &__buttons {
            float: right;
            .buttons_frame {
              display: flex;
              width: 175px;
              &__image_button {
                width: 40px;
                padding-right: 15px;
                position: relative;
                .fa.fa-image {
                  padding: 0 10px;
                }
              }
              &__send_button {
                width: 60px;
                padding: 0 30px;
                color: white;
                background-color: $button-color;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
