.contents{
// 左側コンテンツ部分
  .sidebar{
    height: 100vh;
    width: 300px;
    color: $white-screen;
    float: left;
    .sidebar-header{
      height: 120px;
      background: $id-screen;
      padding: 0 20px 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .user_name{
        font-size: 16px;
        font-weight: bold;
        width: 220px;
        float: left;
      }
      .icon{
        color: inherit;
        .left-icon {
          float: left;
          .iro {
            color: $white-screen;
          }
        }
        .right-icon {
          float: right;
          .iro {
            color: $white-screen;
          }
        }
        width: 40px;
      }
    }
    .sidebar-body{
      height: calc(100vh - 120px);
      background: $chat-list-screen;
      padding: 0 20px;
      .text-box{
        padding: 40px 0 20px;
        .group-name{font-size: 15px;}
        .chat-member{
          font-size: 11px;
          padding-top: 5px;
        }
      }
    }
  }
// 右側コンテンツ部分
  .main-content{
    height: 100vh;
    width: calc(100vw - 300px);
    float: right;
      // 右コンテンツ上部の描画
    .main-upper{
      height: 120px;
      background: white;
      border-bottom-color: red;
      padding: 0 40px;
      .group-box {
        float: left;
        .group-name {
          color: $group-name-color;
          font-size: 20px;
          padding-top: 35px;
        }
        .group-members {
          color: $message-screen;
          font-size: 12px;
          padding-top: 15px;
        }
      }
      .edit-button {
        font-size: 15px;
        color:$button-color;
        border: 1px solid $button-color;
        line-height: 40px;
        width: 50px;
        padding: 0 20px;
        margin-top: 28px;
        margin: 28px auto 0px;
        text-align: center;
        float: right;
      }
    }
    // 右コンテンツ中央（メッセージ部）の描画
    .main-middle {
      height: calc(100vh - 120px - 90px);
      .chat-box {
        padding: 46px 20px 0 20px;
        background: $chat-screen;
        .chat-list{
          padding-bottom: 40px;
          .message-column {
            display: flex;
            padding-bottom: 10px;
            .chat-name {
              font-size: 16px;
              font-weight: bold;
              color:#434A54 ;
            }
            .chat-date {
              font-size: 12px;
              color: $message-screen;
              padding-left: 10px;
            }
          }
          .message-box {
            font-size: 14px;
            color: #434A54;
          }
        }
      }
    }
        // 右コンテンツ下部の描画
    .main-bottom {
      height: 90px;
      .bottom-box {
        background-color: $chat-frame;
        padding: 20px 40px;
        // height: 50px;
        .bottom-message-box{
          height: 50px;
          width: 100%;
          background-color: white;
          .left-box {
            height: 50px;
            width: 85%;
            font-size: 16px;
            color: #434A54;
            float: left;
          }
          .right-box{
            height:50px;
            width: 15%;
            float: right;
            .button-box {
              display: flex;
              height: 50px;
              .img-buttom {
                width:20px;
                position: relative
              }
              .send-button {
                width: 80px;
                margin-left: 15px;
                padding: 0 30px;
                color: white;
                background-color: $button-color;
                text-align: center;
                vertical-align: middle;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
